{% load static %}
<h1> Welcome to the Chatbot for Anything!</h1>
<p>Ask me something like: "What is the name of the nearest major galaxy to the Milky Way?"</p>

<hr>
<div id="chatcontent"> </div>

<br>

<input id="message" placeholder="Type here.." autocomplete="off" autofocus/>
<button>Send</button>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


<script> 
	$.ajaxSetup({ data: {csrfmiddlewaretoken: '{{csrf_token}}'}});

</script>

<script src="{% static 'js/bot.js' %}"></script>
